<div class="container">
  <div class="mt-3 row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-4">
      <div class="card h-100 card-lift-scale-hover">
        <a routerLink="/eventDetail">
          <img src="https://i.cnnturk.com/i/cnnturk/75/0x555/5d75f22c70380e22a0177eb3.jpg" class="card-img-top" style="cursor:pointer;"  alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Galatasaray - Fenerbahçe </h5>
          <span class="btn-inner--icon">
              <i class="fa fa-map mr-2"></i>
          <span class="card-text ">RAMS PARK</span>
            </span>
        </div>
        <div class="card-footer">
          <div class="row row-cols-2">
            <div>
              <i class="fa fa-calendar mr-2"></i>
              <small class="text-body-secondary">19 Ekim 2023</small>
            </div>
            <div class="row row-cols-1">
              <small class="text-body-secondary text-center">En düşük Fiyat</small>
              <small class="text-body-secondary text-center">1500 TL</small>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-content></ng-content>
{{title}}
